<!DOCTYPE html>
<!--[if IE 8]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
	<!--<![endif]-->
	<head>
		<%- include('meta.ejs') -%>
		<title>Conference - FACE Amrita Bangalore</title>
		<meta
			name="description"
			content="Conference - Forum for Aspiring Computer Engineers"
		/>
		<meta
			property="og:title"
			content="Conference - FACE Amrita Bangalore"
		/>
		<meta
			property="og:url"
			content="https://faceaseb.com/Conference"
		/>
		<meta
			property="og:description"
			content="Conference - Forum for Aspiring Computer Engineers"
		/>
		<style>
			.rtable {
				display: inline-block;
				vertical-align: top;
				max-width: 100%;
				overflow-x: auto;
				white-space: nowrap;
				border-collapse: collapse;
				border-spacing: 0;
			}
			.rtable,
			.rtable--flip tbody {
				/* optional - enable iOS momentum scrolling*/
				-webkit-overflow-scrolling: touch;
				/* scrolling shadows*/
				background: radial-gradient(
							left,
							ellipse,
							rgba(0, 0, 0, 0.2) 0%,
							rgba(0, 0, 0, 0) 75%
						)
						0 center,
					radial-gradient(
							right,
							ellipse,
							rgba(0, 0, 0, 0.2) 0%,
							rgba(0, 0, 0, 0) 75%
						)
						100% center;
				background-size: 10px 100%, 10px 100%;
				background-attachment: scroll, scroll;
				background-repeat: no-repeat;
			}
			.rtable th {
				font-size: 11px;
				text-align: left;
				text-transform: uppercase;
				background: #f2f0e6;
			}
			.rtable th,
			.rtable td {
				padding: 6px 12px;
				border: 1px solid #d9d7ce;
			}
			.rtable--flip {
				display: flex;
				overflow: hidden;
				background: none;
			}
			.rtable--flip thead {
				display: flex;
				flex-shrink: 0;
				min-width: min-content;
			}
			.rtable--flip tbody {
				display: flex;
				position: relative;
				overflow-x: auto;
				overflow-y: hidden;
			}
			.rtable--flip tr {
				display: flex;
				flex-direction: column;
				min-width: min-content;
				flex-shrink: 0;
			}
			.rtable--flip td,
			.rtable--flip th {
				display: block;
			}
			.rtable--flip td {
				background-image: none !important;
				/* border-collapse is no longer active*/
				border-left: 0;
			}
			/* border-collapse is no longer active*/
			.rtable--flip th:not(:last-child),
			.rtable--flip td:not(:last-child) {
				border-bottom: 0;
			}
		</style>
	</head>
	<body>
		<header id="main-header">
			<div class="row">
				<div class="logo">
					<a href="/">FACE</a>
				</div>
				<nav id="nav-wrap">
					<a
						class="mobile-btn"
						href="#nav-wrap"
						title="Show navigation"
					>
						<span class="menu-icon">Menu</span>
					</a>
					<a class="mobile-btn" href="#" title="Hide navigation">
						<span class="menu-icon">Menu</span>
					</a>
					<%- include('nav.ejs') -%>
				</nav>
				<%- include('social.ejs') -%>
			</div>
		</header>
		<section id="hero">
			<div class="row hero-content">
				<div class="twelve columns hero-container">
					<div id="hero-slider" class="flexslider">
						<%- include('slides.ejs') -%>
					</div>
				</div>
			</div>
			<div id="more">
				<a class="smoothscroll" href="#services"
					>More About ICIC 2018<i class="fa fa-angle-down"></i
				></a>
			</div>
		</section>
		<section id="portfolio">
			<div class="row section-head">
				<div class="twelve columns">
					<h1>Topics<span>.</span></h1>
					<hr />
					<p>
						ICIC 2018 is a 3 day event conducted on 25th, 26th and
						27th of October 2018. First day, 25th is split into 4
						tracks and consists of various topics.
					</p>
				</div>
			</div>
			<div class="row items">
				<div
					id="portfolio-wrapper"
					class="bgrid-fourth s-bgrid-third tab-bgrid-half"
				>
					<div class="bgrid folio-item">
						<div class="item-wrap">
							<a href="#modal-01">
								<img
									src="images/workshop/data-visualization.png"
									alt="Data Visualization for decision making"
								/>
								<div class="overlay"></div>
								<div class="portfolio-item-meta">
									<h5>
										Data Visualization for decision making
									</h5>
								</div>
								<div class="link-icon">
									<i class="fa fa-plus"></i>
								</div>
							</a>
						</div>
					</div>
					<div class="bgrid folio-item">
						<div class="item-wrap">
							<a href="#modal-02">
								<img
									src="images/workshop/machine.png"
									alt="Introduction to Machine Learning with Python"
								/>
								<div class="overlay"></div>
								<div class="portfolio-item-meta">
									<h5>
										Introduction to Machine Learning with
										Python
									</h5>
								</div>
								<div class="link-icon">
									<i class="fa fa-plus"></i>
								</div>
							</a>
						</div>
					</div>
					<div class="bgrid folio-item">
						<div class="item-wrap">
							<a href="#modal-03">
								<img
									src="images/workshop/hadoop.png"
									alt="Hadoop Ecosystem"
								/>
								<div class="overlay"></div>
								<div class="portfolio-item-meta">
									<h5>Hadoop Ecosystem</h5>
								</div>
								<div class="link-icon">
									<i class="fa fa-plus"></i>
								</div>
							</a>
						</div>
					</div>
					<div class="bgrid folio-item">
						<div class="item-wrap">
							<a href="#modal-04">
								<img
									src="images/workshop/eye-gaze.png"
									alt="Eye Gaze Data Analytics"
								/>
								<div class="overlay"></div>
								<div class="portfolio-item-meta">
									<h5>Eye Gaze Data Analytics</h5>
								</div>
								<div class="link-icon">
									<i class="fa fa-plus"></i>
								</div>
							</a>
						</div>
					</div>
					<div class="bgrid folio-item">
						<div class="item-wrap">
							<a href="#modal-05">
								<img
									src="images/workshop/bio.png"
									alt="Bio Innovations in Indian Context"
								/>
								<div class="overlay"></div>
								<div class="portfolio-item-meta">
									<h5>Bio Innovations in Indian Context</h5>
								</div>
								<div class="link-icon">
									<i class="fa fa-plus"></i>
								</div>
							</a>
						</div>
					</div>
					<div class="bgrid folio-item">
						<div class="item-wrap">
							<a href="#modal-06">
								<img
									src="images/workshop/cancer.png"
									alt="Developing Low cost devices for Cancer patients for Indian perspective"
								/>
								<div class="overlay"></div>
								<div class="portfolio-item-meta">
									<h5>
										Developing Low cost devices for Cancer
										patients for Indian perspective
									</h5>
								</div>
								<div class="link-icon">
									<i class="fa fa-plus"></i>
								</div>
							</a>
						</div>
					</div>
					<div class="bgrid folio-item">
						<div class="item-wrap">
							<a href="#modal-07">
								<img
									src="images/workshop/robotics.png"
									alt="blindcoding"
								/>
								<div class="overlay"></div>
								<div class="portfolio-item-meta">
									<h5>Robotics, IoT and Cloud Computing</h5>
								</div>
								<div class="link-icon">
									<i class="fa fa-plus"></i>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div id="modal-01" class="popup-modal mfp-hide">
					<div class="description-box">
						<h4>Data Visualization</h4>
						<p>
							Data driven decision making is the gold standard
							industry goal today. However, implementing this in
							practice needs a powerful intermediate step: Data
							Visualization. This day-long workshop helps students
							and industry practitioners make decisions using data
							visualization.
						</p>
						<h4>Topics Covered</h4>
						<p>
							<li>
								R-Programming and Tidyverse for data
								visualization
							</li>
							<li>
								Importing, Transforming, Arranging, Grouping,
								Summarizing and Visualizing your data
							</li>
							<li>Iterative data visualization</li>
							<li>Density charts and modal diagnostics</li>
							<li>Case studies</li>
							<li>
								Data Visualization Types : Histograms,
								Barcharts, Scatter plots, Box plots, Facet
								charts, Network charts, and Animations and
								Dashboards.
							</li>
							<li>Streaming API data visualization</li>
							<li>Data Visualization Do’s and Dont’s</li>
							<li>
								Data Visualization as a pre-requisite for
								Machine Learning and AI
							</li>
						</p>
						<h4>Speaker Bio</h4>
						<p>
							Dr. Anand Lakshmanan has helped academic
							institutions and corporations deep dive into their
							data and make better decisions. He has 18+ years of
							experience in academia and industry.
							<br /><br />
							Most recently he worked at Apple in Cupertino,
							California for 6 years. He has published or
							co-published several papers and holds 7 patents. He
							believes that all scientists and professionals need
							to be data-savvy to make decisions and persuade
							actions. He is the Founder and CEO of sirpi.io , a
							data visualization company.
						</p>
					</div>
					<div class="link-box group">
						<a
							target="_blank"
							rel="noopener"
							href="https://en.wikipedia.org/wiki/Data_visualization"
							>Learn More</a
						>
						<a href="#" class="popup-modal-dismiss">Close</a>
					</div>
				</div>
				<div id="modal-02" class="popup-modal mfp-hide">
					<div class="description-box">
						<h4>Abstract</h4>
						<p>
							Machine Learning provides computers the ability to
							automatically learn and improve with data without
							being explicitly programmed. It is one of the
							hottest areas in computer technology today with a
							wide array of applications including self-driving
							cars, computer vision, natural language processing,
							ecommerce website recommendations, financial market
							analysis, robotics and so on. Machine Learning
							algorithms are typically categorized as supervised
							and unsupervised. In supervised machine learning,
							the system builds a model from labeled data sets and
							uses the model to make predictions on future input.
							In contrast, unsupervised machine learning
							algorithms attempt to discover hidden structures
							from unlabeled data sets.
							<br /><br />
							In this tutorial, we will understand how machine
							learning differs from regular computer programming
							and some examples of the applications of machine
							learning. We will briefly explore the various types
							of machine learning algorithms. Then we will dive
							into a few hands-on illustrations of machine
							learning on sample data sets using Python. This will
							acquaint us with the key Python packages that are
							typically used for data preprocessing, statistical
							learning and data visualization. The tutorial will
							conclude with links to additional references for
							self study.
						</p>
						<h4>Speaker Bio</h4>
						<p>
							Narasimha Datta has a Masters degree in Computer
							Science from the Indian Institute of Science (IISc),
							Bangalore. He has more than 15 years of software
							development experience spanning industry giants such
							as Microsoft, Cisco and Citrix, and startup
							companies such as Nevis Networks and Zscaler. He
							currently works for Peritus.AI, a startup that aims
							to enable the autonomous datacenter using AI and
							Machine Learning.
							<br /><br />
							Nagaraj BK Harikar has completed his Bachelor of
							Engineering in Computer Science from New Horizon
							College of Engineering. He is currently pursuing
							Master of Science in Management Information Systems
							from Illinois Institute of Technology. He has 10+
							years of industry experience and is working for
							Citrix R&D India Pvt. Ltd. in the NetScaler product
							engineering team since the last several years. He
							has several achievements to his credit including the
							Global Innovation Challenge Award (machine learning)
							and the Global Hackathon Award (Speed of production
							category).
						</p>
					</div>
					<div class="link-box group">
						<a
							target="_blank"
							rel="noopener"
							href="https://machinelearningmastery.com/machine-learning-in-python-step-by-step/"
							>Learn More</a
						>
						<a href="#" class="popup-modal-dismiss">Close</a>
					</div>
				</div>
				<div id="modal-03" class="popup-modal mfp-hide">
					<div class="description-box">
						<h4>Abstract</h4>
						<p>
							This tutorial will introduce to the fundamentals of
							Hadoop, components of Hadoop. The working of HDFS
							and Map Reduce Programming will be shown with
							demonstration. Exposure will be provided to Hadoop
							Ecosystem and Streaming technologies.
						</p>
						<h4>Speaker Bio</h4>
						<p>
							Veeramani Moorthy has about 17 years of experience
							in building & designing high scale distributed
							applications like big data batch platforms and
							streaming platforms. He has worked with various MNCs
							like Oracle, Yahoo, GE Health care. He is currently
							working as Data Engineer at Intuit.
						</p>
					</div>
					<div class="link-box group">
						<a
							target="_blank"
							rel="noopener"
							href="https://hadoop.apache.org/"
							>Learn More</a
						>
						<a href="#" class="popup-modal-dismiss">Close</a>
					</div>
				</div>
				<div id="modal-04" class="popup-modal mfp-hide">
					<div class="description-box">
						<h4>Abstract</h4>
						<p>
							Eye is the index of mind and hence eye gaze data
							analytics can indicate the perception of human. With
							advancement in technology eye tracking is moving
							from the laboratory to real world, producing
							enormous data with different data types. The
							tutorial focuses on giving an insight to the Eye
							tracking Research at Amrita School of Engineering,
							Bengaluru. The objective of the session is to give
							researchers an exposure to the eye tracking data
							analysis and visualization using various open source
							and commercial eye tracking data analysis and
							visualization tools like OGAMA, SMI iViewX eye
							tracker and its experimental suite.
						</p>
						<h4>Speaker Bio</h4>
						<p>
							Dr. Amudha J received Ph.D in Computer Science and
							Engineering from Amrita Vishwa Vidyapeetham,
							Coimbatore. She joined Amrita Vishwa Vidyapeetham,
							Bengaluru campus, Department of Computer Science and
							Engineering in July 2010 and she is presently the
							Chairperson of Computer Science and Engineering
							Department. Her area of interest include Eye
							Tracking Research, Machine Learning, Computer
							Vision, Computational Intelligence and focusing
							towards providing solutions for health care
							applications. She has established Eye Tracking
							Research Infrastructure to facilitate research,
							initiated and signed MoU’s with various health care
							and industry for collaborative research. She has
							been the mentor for ACM Chapter and has mentored
							students and organized workshops and conferences.
						</p>
					</div>
					<div class="link-box group">
						<a
							target="_blank"
							rel="noopener"
							href="http://www.pygaze.org/"
							>Learn More</a
						>
						<a href="#" class="popup-modal-dismiss">Close</a>
					</div>
				</div>
				<div id="modal-05" class="popup-modal mfp-hide">
					<div class="description-box">
						<h4>Abstract</h4>
						<p>
							Bio Innovations is an attempt to force multiply
							marrying technology and medical knowledge.It is a
							sign of a thinking technologically oriented society
							or country , as against a country which is a mere
							utiliser of technology . India is now actively
							working on funding, creating ecosystems , and
							helping start ups scale up is therefore a healthy
							sign.
							<br /><br />
							However if we have to really close the gap between
							us and the developed world, a certain paradigm shift
							is needed. Merely following in the footsteps of the
							west would be self defeating. The talk would focus
							on ways and means to be effective in this endeavour.
						</p>
						<h4>Speaker Bio</h4>
						<p>
							Dr. Ravi C Nayar is Dean, Centre for Academic
							Research in Health Care Global Enterprises Ltd,
							Bangalore. He is a Consultant in Otolaryngologist &
							Head Neck Surgeon and Chairman of Scientific
							Committee in HCG Hospital Bangalore. He also works
							as Honorary Professor in PES Engineering College,
							Bangalore. He is Chairman, Sub Committee on Research
							- The Indian Academy of Otolaryngology Head & Neck
							Surgery. He is a Member of Board of Undergraduate
							and Post graduate Studies in Surgery and Allied
							Subjects -Sri Devaraj Urs Academy of Higher
							Education & Research, Kolar . He acted as President
							in Bangalore Branch Association of Otolaryngologists
							of India. He also serves as Post Graduate teacher
							(authorized to guide PG Students ) – Rajiv Gandhi
							University of Medical Sciences :- Dec 2004 – to date
							.
						</p>
					</div>
					<div class="link-box group">
						<a
							target="_blank"
							rel="noopener"
							href="https://economictimes.indiatimes.com/small-biz/startups/time-for-india-to-be-innovator-nation-in-bio-pharmaceuticals-expert/articleshow/52532569.cms"
							>Learn More</a
						>
						<a href="#" class="popup-modal-dismiss">Close</a>
					</div>
				</div>
				<div id="modal-06" class="popup-modal mfp-hide">
					<div class="description-box">
						<h4>Abstract</h4>
						<p>
							Across the country around 30,000 patients a year are
							diagnosed with cancer of the larynx. For those in
							the latter stages of the disease the only option can
							be to have the voice box removed, leaving the
							patient without a voice. Replacement prosthetic
							voice boxes can cost up to $1,000 (£750) which for
							many patients is unaffordable.
							<br /><br />
							"The majority of our healthcare is private and cost
							prohibitive. “Speech is a right and not a
							privilege," says Dr Rao who is a surgical oncologist
							at Health Care Global in Bangalore. Dr. Vishal Rao
							Invented a Rs. 50 Device To Give Throat Cancer
							Patients Their Voice Again. Tutorial will be based
							on the glimpse of development of such device
						</p>
						<h4>Speaker Bio</h4>
						<p>
							Dr. Vishal Rao completed his post-graduation in
							otolaryngology - head & neck surgery - in Karnataka,
							after which he completed a fellowship in head & neck
							oncology surgery in Mumbai. He also served as a
							visiting scholar at the Pittsburgh School of
							Medicine and has more than 20 national and
							international publications to his credit. He has
							received many national and international awards. He
							has been honored with the 2017 Judy Wilkenfeld Award
							for International Tobacco Control Excellence, for
							his role in combating tobacco use in the country.
							Dr. Rao’s efforts led to a ban on gutka, chewing
							tobacco and e-cigarettes in Karnataka. Dr. Rao is a
							member of the High-powered Committee on Tobacco
							Control instituted by the Government of Karnataka.
							He is also the inventor of a Rs. 50 voice box
							prosthetic for throat cancer patients whose larynx
							has been removed. Dr. Rao also has experience in
							transoral laser surgeries for early oral and voice
							box cancers and surgical organ preservation.
						</p>
					</div>
					<div class="link-box group">
						<a
							target="_blank"
							rel="noopener"
							href="https://www.sciencedirect.com/science/article/pii/S0970389617305384"
							>Learn More</a
						>
						<a href="#" class="popup-modal-dismiss">Close</a>
					</div>
				</div>
				<div id="modal-07" class="popup-modal mfp-hide">
					<div class="description-box">
						<h4>Speaker Bio</h4>
						<p>
							Name: Akshatha Pai Designation: Project Manager,
							Sirena Technologies, Bengaluru<br />
							Prior Work Experience Assistant Professor,
							Mechatronics MIT for 6 years <br />
							Education: Tech Instrumentation & Control; MTech:
							Astronomy & Space Engineering <br />
							Areas of research: Robotics, IoT, Embedded Control
							Systems, Spacecraft Control Systems, Machine
							Learning & AI
						</p>
						<h4>Robotics & AI: Where are we headed next?</h4>
						<p>
							Modern science has grown multifold in this century.
							Technology is moving at breakneck speed. We have
							more technology in our pockets right now than we had
							in our homes in the 90s. The pereception is that
							robotic revolution happened in this decade but the
							reality is, it has been happening for decades. In
							it’s nascent stage, robotics fuelled the Industrial
							revolution in the 1960s. Today it is possible to
							envisage human sized robots with capacity for near
							human thought and movement. The lecture is going to
							highlight the revolution of robotics through the
							decades leading to the present day where the focus
							is around technology like artificial intelligence
							and humanoids. The lecture is also going to be
							supported by a product demonstration of humanoid and
							robotic products by Sirena Technologies Pvt. Ltd.
							Bengaluru. The highlight of the demo is Nino -
							India’s only humanoid in the education sector. The
							humanoid is capable of walk, talk, movements and can
							be controlled through voice or app.
						</p>
						<h4>Speaker Bio</h4>
						<p>
							Dr. K. Kanagasundaram, Sr. Technical Lead, Systems &
							Technology @ Ericsson Bengaluru Area, India
						</p>
						<h4>
							Advances in Intelligent Sensor, Controls and
							Communications
						</h4>
						<p></p>
					</div>
					<div class="link-box group">
						<a
							target="_blank"
							rel="noopener"
							href="https://theiotmagazine.com/iot-robotics-for-the-spectrum-of-work-automation-f6e56f234fd8"
							>Learn More</a
						>
						<a href="#" class="popup-modal-dismiss">Close</a>
					</div>
				</div>
			</div>
		</section>
		<section id="about">
			<div class="row section-head">
				<div class="twelve columns">
					<h1>Conference Schedule<span>.</span></h1>
					<hr />
					<table class="rtable rtable--flip">
						<thead>
							<tr>
								<th>Slot</th>
								<th>9:00 - 10:30</th>
								<th>11:00 - 13:00</th>
								<th>14:00 - 15:20</th>
								<th>15:30 - 17:00</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Track-1 (Data Visualization)</td>
								<td>
									Data Visualization By Dr. Anand Lakshmanan
									Ex-Apple, CEO at SIRPI.io
								</td>
								<td>
									Data Visualization By Dr. Anand Lakshmanan
									Ex-Apple, CEO at SIRPI.io
								</td>
								<td>
									Data Visualization By Dr. Anand Lakshmanan
									Ex-Apple, CEO at SIRPI.io
								</td>
								<td>
									Data Visualization By Dr. Anand Lakshmanan
									Ex-Apple, CEO at SIRPI.io
								</td>
							</tr>
							<tr>
								<td>Track-2 (Data Analytics)</td>
								<td>
									Introduction to machine learning with python
									By Dr Narsimha Datta
								</td>
								<td>
									Introduction to machine learning with python
									By Dr Narsimha Datta
								</td>
								<td>
									Data Analytics By Dr Veeramani Moorthy
									(Intuit)
								</td>
								<td>
									Data Analytics By Dr Veeramani Moorthy
									(Intuit)
								</td>
							</tr>
							<tr>
								<td>
									Track-3 (Eye Tracking and Medical Image
									Processing)
								</td>
								<td>Eye Tracking Workshop by Dr. Amudha J</td>
								<td>Eye Tracking Workshop by Dr. Amudha J</td>
								<td>
									Bio Innovations and Research from Indian
									Perspective by Dr Ravi Nayar HCG Hospital
								</td>
								<td>
									Developing Low Cost Devices for Cancer
									Patients for Indian Perspective by Dr Vishal
									Rao HCG Hospital
								</td>
							</tr>
							<tr>
								<td>
									Track-4 (Robotics, IoT, Cloud Networking)
								</td>
								<td>
									Robotics & AI: Where are we headed next? by
									Dr. Akshatha Pai
								</td>
								<td>
									Advances in Intelligent Sensor, Controls and
									Communications by Dr. K. Kanagasundaram,
									Senior Engineering Manager, Nevis Networks
									India Pvt Ltd. Topic: Research Issues in
									SDNs
								</td>
								<td>
									Demystifying Containerization Principles for
									Data Scientists by Dr. Ganesh Neelakanta
									Iyer Amrita Vishwa Vidyapeetham, Coimbatore
								</td>
								<td>
									Machine Learning and Intelligent Systems by
									Mr. J. Mahesh Babu, Principal Engineer –
									Research, Ericsson India Global Services
									Pvt. Ltd. Topic: Artificial Intelligence –
									Planning
								</td>
								<td>
									Prepare your Future with Cloud Computing by
									Dr. Prakash P
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>
		<section id="about">
			<div class="row section-head">
				<div class="twelve columns">
					<h1>Register and know more<span>.</span></h1>
					<hr />
					Click
					<button
						type="button"
						class="glow-button button"
						onclick="window.open('http://web-blr.amrita.edu/ICIC/')"
					>
						here
					</button>
					to get more details about all 3 days and also register for
					the event. Looking forward to your participation.
				</div>
			</div>
		</section>
		<%- include('contact.ejs') -%> <%- include('footer.ejs') -%> <%-
		include('scripts.ejs') -%>
	</body>
</html>
