<!DOCTYPE html>
<!--[if IE 8]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
	<!--<![endif]-->

	<head>
		<%- include('meta') -%>
		<title>FACE - Amrita Bangalore</title>
		<meta
			name="description"
			content="Forum for Aspiring Computer Engineers"
		/>
		<meta property="og:title" content="FACE - Amrita Bangalore" />
		<meta property="og:url" content="https://faceaseb.com" />
		<meta
			property="og:description"
			content="Forum for Aspiring Computer Engineers"
		/>
	</head>

	<body>
		<%- include('header') -%>
		<section id="hero">
			<div class="row hero-content">
				<div class="twelve columns hero-container">
					<div id="hero-slider" class="flexslider">
						<%- include('slides') -%>
					</div>
				</div>
			</div>
			<div id="more">
				<a class="smoothscroll" href="#about"
					>More About Us<i class="fa fa-angle-down"></i
				></a>
			</div>
		</section>
		<section id="events">
			<br />
			<div class="row section-head">
				<div class="twelve columns">
					<h1>Our ongoing events<span>.</span></h1>
					<hr />
					<p>
						These are some of the events that we have planned for
						you!
					</p>
				</div>
			</div>
			<div class="row mobile-no-padding">
				<div
					class="service-list bgrid-third s-bgrid-half tab-bgrid-whole group"
				>
					<div class="bgrid">
						<h3>SLAC 2019</h3>
						<div class="service-content">
							<p>
								Stay Late and Code (SLAC) is the annual 24 hour
								college level hackathon at Amrita School of
								Engineering, Bangalore conducted by the school's
								CSE Departmental Forum, FACE where the
								participants at the event appear from colleges
								all across South India. Click
								<a target="_blank" href="/SLAC">here</a> to know
								more.
							</p>
						</div>
					</div>
					<div class="bgrid">
						<h3>UI / UX design contest</h3>
						<div class="service-content">
							<p>
								Send us your most creative designs for user
								interface and user experience,
								<a href="/UI-UX">click here</a> to compete.
							</p>
						</div>
					</div>
					<div class="bgrid">
						<h3>CSI Comquer</h3>
						<div class="service-content">
							<p>
								Feel like quizzing yourself? Take part in the
								Comquer Quiz by CSI.
								<a href="/Comquer">Click here</a> to compete.
							</p>
						</div>
					</div>
					<div class="bgrid">
						<h3>Web Development Workshop</h3>
						<div class="service-content">
							<p>
								A full stack web development workshop focusing
								on HTML5, CSS3, Bootstrap, Node.js, Express.js,
								Git, GitHub, Database, CLI, JS and Firebase by
								<a
									href="https://linkedin.com/in/aravindvnair99/"
									target="_blank"
									>Aravind V. Nair</a
								>
								and
								<a
									href="https://www.linkedin.com/in/abhishek-kvs/"
									target="_blank"
									>Abhishek Sai</a
								>.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="about">
			<div class="row section-head">
				<div class="twelve columns">
					<h1>
						FACE - Forum for Aspiring Computer Engineers<span
							>.</span
						>
					</h1>
					<hr />
					<p>
						In today`s world where technology advances each day by
						leaps and bounds evolving faster than mankind can keep
						up, miss a day and you might as well have missed a
						month. So what do you do when you have no clue to what`s
						going on in the tech empire? You tune into FACE.
					</p>
					<p>
						We at FACE, the Forum for Aspiring Computer Engineers at
						Amrita School of Engineering, Bangalore solely dedicate
						ourselves to organize workshops, conduct events and
						fests to acquaint and immerse you into the world of
						technology. Ranging from courses on game programming to
						hands-on OS installations and project exhibitions. We do
						it all. If you`re into computing and technology then
						you`ll certainly be into FACE. Stay with us and we`ll go
						together, hand in hand, alongside technological
						advancements. Tune into Technology. Tune into F.A.C.E.
					</p>
					<h1>There are 5 student clubs under FACE</h1>
					<hr />
				</div>
			</div>
			<div class="row mobile-no-padding">
				<div class="process bgrid-half tab-bgrid-whole group">
					<div class="bgrid">
						<h3>Developer Student Clubs</h3>
						<p>
							Developer Student Clubs is a University Program
							kickstarted by Google Developers to train thousands
							of student developers globally and work with their
							communities to solve real-life problems. DSC ASEB
							was set-up primarily to ensure that we can bridge
							the divide between a student's eagerness to learn
							and the technology evolving every day.
							<br /><br />
							The DSC program is a grassroots channel through
							which the members of the community provide
							development skills for students, towards
							employability. In addition to workshops, DSCs also
							provide an opportunity for students to apply their
							newly gained skills to develop solutions for local
							organizations, and then provide visibility via
							showcases.
						</p>
						<p>
							<button
								type="button"
								class="glow-button button"
								onclick="window.open('https://developers.google.com/community/dsc/')"
							>
								Know More
							</button>
						</p>
					</div>
					<div class="bgrid">
						<h3>ACM - Association of Computing Machinery</h3>
						<p>
							ACM brings together computing educators,
							researchers, and professionals to inspire dialogue,
							share resources, and address the field's challenges.
							As the world's largest computing society, ACM
							strengthens the profession's collective voice
							through strong leadership, promotion of the highest
							standards, and recognition of technical excellence.
							ACM supports the professional growth of its members
							by providing opportunities for life‐long learning,
							career development, and professional networking.
						</p>
						<p>
							<button
								type="button"
								class="glow-button button"
								onclick="window.open('/ACM')"
							>
								Know More
							</button>
						</p>
					</div>
					<div class="bgrid">
						<h3>CSI - Computer Society of India</h3>
						<p>
							The "Computer Society of India" is a professional
							body where computer professionals meet to exchange
							views and information, to learn and share ideas. The
							wide spectrum of members is committed to the
							advancement of the theory and practice of Computer
							Engineering and Technology Systems, Science and
							Engineering, Information Processing and related Arts
							and Sciences.
						</p>
						<p>
							<button
								type="button"
								class="glow-button button"
								onclick="window.open('http://www.csi-india.org/')"
							>
								Know More
							</button>
						</p>
					</div>
					<div class="bgrid">
						<h3>ACM-W</h3>
						<p>
							ACM-W supports, celebrates, and advocates
							internationally for the full engagement of women in
							all aspects of the computing field, providing a wide
							range of programs and services to ACM members and
							working in the larger community to advance the
							contributions of technical women.
						</p>
						<p>
							<button
								type="button"
								class="glow-button button"
								onclick="window.open('/ACMW')"
							>
								Know More
							</button>
						</p>
					</div>
					<div class="bgrid">
						<h3>Codechef Amrita Chapter</h3>
						<p>
							CodeChef Amrita Bengaluru Campus Chapter aims at
							promoting competitive programming in Amrita
							Bengaluru and help students become better problem
							solvers which goes a long way in learning as well as
							in their career development.
						</p>
						<p>
							<button
								type="button"
								class="glow-button button"
								onclick="window.open('https://www.codechef.com/')"
							>
								Know More
							</button>
						</p>
					</div>
					<div class="bgrid">
						<h3>FORGE</h3>
						<p>
							A club for game designing which aims to learn and
							share knowledge by conducting workshops , contests,
							seminars and talks on game designing, modelling,
							texturing, C.G.I, character rigging and animation.
						</p>
						<p>
							<button
								type="button"
								class="glow-button button"
								onclick="window.open('https://www.instagram.com/forge.amrita/')"
							>
								Know More
							</button>
						</p>
					</div>
				</div>
			</div>
			<section id="portfolio">
				<div class="row section-head">
					<div class="twelve columns">
						<h1>Gallery<span>.</span></h1>
						<hr />
						<p>Some of our latest events.</p>
					</div>
				</div>
				<div class="row items">
					<div
						id="portfolio-wrapper"
						class="bgrid-fourth s-bgrid-third tab-bgrid-half"
					>
						<div class="bgrid folio-item">
							<div class="item-wrap">
								<a href="#modal-01">
									<img
										src="images/portfolio/blindcoding.jpg"
										alt="blindcoding"
									/>
									<div class="overlay"></div>
									<div class="portfolio-item-meta">
										<h5>Blind Coding</h5>
										<p>CSI</p>
									</div>
									<div class="link-icon">
										<i class="fa fa-plus"></i>
									</div>
								</a>
							</div>
						</div>
						<div class="bgrid folio-item">
							<div class="item-wrap">
								<a href="#modal-02">
									<img
										src="images/portfolio/bugster.jpg"
										alt="bugster"
									/>
									<div class="overlay">
										<div class="portfolio-item-meta">
											<h5>Bugster</h5>
											<p>FACE</p>
										</div>
									</div>
									<div class="link-icon">
										<i class="fa fa-plus"></i>
									</div>
								</a>
							</div>
						</div>
						<div class="bgrid folio-item">
							<div class="item-wrap">
								<a href="#modal-03">
									<img
										src="images/portfolio/codechef.jpg"
										alt="codechef"
									/>
									<div class="overlay">
										<div class="portfolio-item-meta">
											<h5>
												Codechef Coding Training
												Sessions
											</h5>
											<p>Codechef</p>
										</div>
									</div>
									<div class="link-icon">
										<i class="fa fa-plus"></i>
									</div>
								</a>
							</div>
						</div>
						<div class="bgrid folio-item">
							<div class="item-wrap">
								<a href="#modal-04">
									<img
										src="images/portfolio/gamedesign.jpg"
										alt="gamedesign"
									/>
									<div class="overlay">
										<div class="portfolio-item-meta">
											<h5>
												Introduction to Game Designing
											</h5>
											<p>FORGE</p>
										</div>
									</div>
									<div class="link-icon">
										<i class="fa fa-plus"></i>
									</div>
								</a>
							</div>
						</div>
						<div class="bgrid folio-item">
							<div class="item-wrap">
								<a href="#modal-05">
									<img
										src="images/portfolio/uiux.jpg"
										alt="uiux"
									/>
									<div class="overlay">
										<div class="portfolio-item-meta">
											<h5>UI/UX Design Challenges</h5>
											<p>FACE(Top Coder)</p>
										</div>
									</div>
									<div class="link-icon">
										<i class="fa fa-plus"></i>
									</div>
								</a>
							</div>
						</div>
						<div class="bgrid folio-item">
							<div class="item-wrap">
								<a href="#modal-06">
									<img
										src="images/portfolio/techtriathalon.jpg"
										alt="techtriathalon"
									/>
									<div class="overlay">
										<div class="portfolio-item-meta">
											<h5>Tech Triathalon</h5>
											<p>FACE</p>
										</div>
									</div>
									<div class="link-icon">
										<i class="fa fa-plus"></i>
									</div>
								</a>
							</div>
						</div>
						<div class="bgrid folio-item">
							<div class="item-wrap">
								<a href="#modal-07">
									<img
										src="images/portfolio/logical.jpg"
										alt="logical"
									/>
									<div class="overlay">
										<div class="portfolio-item-meta">
											<h5>
												Introduction to Logical Thinking
											</h5>
											<p>Codechef</p>
										</div>
									</div>
									<div class="link-icon">
										<i class="fa fa-plus"></i>
									</div>
								</a>
							</div>
						</div>
						<div class="bgrid folio-item">
							<div class="item-wrap">
								<a href="#modal-08">
									<img
										src="images/portfolio/tech2.jpg"
										alt="tech2"
									/>
									<div class="overlay">
										<div class="portfolio-item-meta">
											<h5>Tech Triathalon</h5>
											<p>FACE</p>
										</div>
									</div>
									<div class="link-icon">
										<i class="fa fa-plus"></i>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div id="modal-01" class="popup-modal mfp-hide">
						<div class="media">
							<img
								src="images/portfolio/blindcoding.jpg"
								alt="blindcoding"
							/>
						</div>
						<div class="description-box">
							<h4>Bind Coding</h4>
							<p>
								This is a one of a kind event where the
								participants will have to code with the Monitors
								switched OFF A simple code with syntax error
								will be given on paper. Participants have to
								correct the errors on paper and type the code
								with MONITOR switched Off.
							</p>
							<span class="categories">CSI</span>
						</div>
						<div class="link-box group">
							<a target="_blank" rel="noopener" href="/Blog"
								>Details</a
							>
							<a href="#" class="popup-modal-dismiss">Close</a>
						</div>
					</div>
					<div id="modal-02" class="popup-modal mfp-hide">
						<div class="media">
							<img
								src="images/portfolio/bugster.jpg"
								alt="bugster"
							/>
						</div>
						<div class="description-box">
							<h4>Bugster</h4>
							<p>Do you hate bugs just as we do?</p>
							<span class="categories">FACE</span>
						</div>
						<div class="link-box">
							<a target="_blank" rel="noopener" href="/Blog"
								>Details</a
							>
							<a href="#" class="popup-modal-dismiss">Close</a>
						</div>
					</div>
					<div id="modal-03" class="popup-modal mfp-hide">
						<div class="media">
							<img
								src="images/portfolio/codechef.jpg"
								alt="Codechef"
							/>
						</div>
						<div class="description-box">
							<h4>Competitive Coding Training Sessions</h4>
							<p>
								Codechef's initiative in bringing up competitive
								coding skills among students for competitive
								coding contests, the most important one being
								ICPC.
							</p>
							<span class="categories">Codechef</span>
						</div>
						<div class="link-box">
							<a target="_blank" rel="noopener" href="/Blog"
								>Details</a
							>
							<a href="#" class="popup-modal-dismiss">Close</a>
						</div>
					</div>
					<div id="modal-04" class="popup-modal mfp-hide">
						<div class="media">
							<img
								src="images/portfolio/gamedesign.jpg"
								alt="gamedesign"
							/>
						</div>
						<div class="description-box">
							<h4>Getting started with game development</h4>
							<p>
								All the technical know-hows on how to start off
								with game development. The brand new club FORGE
								kickstarted its journey with this amazing event.
							</p>
							<span class="categories">FORGE</span>
						</div>
						<div class="link-box">
							<a target="_blank" rel="noopener" href="/Blog"
								>Details</a
							>
							<a href="#" class="popup-modal-dismiss">Close</a>
						</div>
					</div>
					<div id="modal-05" class="popup-modal slider mfp-hide">
						<div class="media">
							<img src="images/portfolio/uiux.jpg" alt="uiux" />
						</div>
						<div class="description-box">
							<h4>UI/UX Challenges</h4>
							<p>
								Inspired by Topcoder, these challenges are aimed
								at bringing out the best creativity in you! This
								is for all the designers and techies out there
							</p>
							<div class="categories">FACE</div>
						</div>
						<div class="link-box">
							<a target="_blank" rel="noopener" href="/Blog"
								>Details</a
							>
							<a href="#" class="popup-modal-dismiss">Close</a>
						</div>
					</div>
					<div id="modal-06" class="popup-modal mfp-hide">
						<div class="media">
							<img
								src="images/portfolio/techtriathalon.jpg"
								alt=""
							/>
						</div>
						<div class="description-box">
							<h4>Tech Triathalon</h4>
							<p>
								An event held exclusively for the first years. A
								fun filled event consisting of brainstorming
								puzzles, tech taboo and Pictionary.
							</p>
							<div class="categories">FACE</div>
						</div>
						<div class="link-box">
							<a target="_blank" rel="noopener" href="/Blog"
								>Details</a
							>
							<a href="#" class="popup-modal-dismiss">Close</a>
						</div>
					</div>
					<div id="modal-07" class="popup-modal mfp-hide">
						<div class="media">
							<img src="images/portfolio/logical.jpg" alt="" />
						</div>
						<div class="description-box">
							<h4>Introduction to logical thinking</h4>
							<p>
								A Codechef event held for the first and second
								years where the logical thinking skills of the
								students were put to test.
							</p>
							<div class="categories">Codechef</div>
						</div>
						<div class="link-box">
							<a target="_blank" rel="noopener" href="/Blog"
								>Details</a
							>
							<a href="#" class="popup-modal-dismiss">Close</a>
						</div>
					</div>
					<div id="modal-08" class="popup-modal mfp-hide">
						<div class="media">
							<img src="images/portfolio/tech2.jpg" alt="" />
						</div>
						<div class="description-box">
							<h4>Tech Triathalon</h4>
							<p>
								An event held exclusively for the first years. A
								fun filled event consisting of brainstorming
								puzzles, tech taboo and Pictionary
							</p>
							<div class="categories">FACE</div>
						</div>
						<div class="link-box">
							<a target="_blank" rel="noopener" href="/Blog"
								>Details</a
							>
							<a href="#" class="popup-modal-dismiss">Close</a>
						</div>
					</div>
				</div>
			</section>
		</section>
		<section id="mentors">
			<div class="row team section-head">
				<div class="twelve columns">
					<h1 style="color: black">Meet our mentors</h1>
				</div>
			</div>
			<div class="row content flex-container">
				<div id="mentor-slider" class="flexslider">
					<ul class="slides">
						<li>
							<p>
								Dr. Rajakumar Arul currently serves as an
								Assistant Professor at the Department of
								Computer Science, Amrita School of Engineering,
								Bengaluru. His areas of research include
								Cryptography, Network Security and Blockchain.
							</p>
							<div class="mentor-author">
								<img
									src="images/team_2021/rajakumar.jpg"
									alt="Rajakumar Arul"
								/>
								<div class="author-info">
									Rajakumar Arul
									<span class="position">Mentor, FACE</span>
								</div>
							</div>
						</li>
						<li>
							<p>
								Bio of mentor comes here
							</p>
							<div class="mentor-author">
								<img
									src="images/team_2021/shirisha.jpg"
									alt="Mentor name comes here"
								/>
								<div class="author-info">
									Mentor name comes here
									<span
										>Mentor, CSI</span
									>
								</div>
							</div>
						</li>
						<li>
							<p>
								Bio of mentor comes here
							</p>
							<div class="mentor-author">
								<img
									src="images/team_2021/shirisha.jpg"
									alt="Mentor name comes here"
								/>
								<div class="author-info">
									Mentor name comes here
									<span
										>Mentor, ACM &amp; ACM-W</span
									>
								</div>
							</div>
						</li>
						<li>
							<p>
								Bio of mentor comes here
							</p>
							<div class="mentor-author">
								<img
									src="images/team_2021/shirisha.jpg"
									alt="Mentor name comes here"
								/>
								<div class="author-info">
									Mentor name comes here
									<span
										>Mentor, CodeChef</span
									>
								</div>
							</div>
						</li>
						<li>
							<p>
								Bio of mentor comes here
							</p>
							<div class="mentor-author">
								<img
									src="images/team_2021/shirisha.jpg"
									alt="Mentor name comes here"
								/>
								<div class="author-info">
									Mentor name comes here
									<span
										>Mentor, FORGE</span
									>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<section id="testimonials">
			<div class="row team section-head">
				<div class="twelve columns">
					<h1 style="color: black">Meet our office bearers</h1>
				</div>
			</div>
			<div class="row content flex-container">
				<div id="testimonial-slider" class="flexslider">
					<ul class="slides">
						<li>
							<p>
								An Electronics and Communications Engineering,
								junior who is interested in Android App
								Development, Data Analytics and Machine Learning
								and loves meddling with Python and Java.
							</p>
							<div class="testimonial-author">
								<img
									src="images/team_1920/yash.jpg"
									alt="Yash Rajesh Umale"
								/>
								<div class="author-info">
									Yash Rajesh Umale
									<span>Secretary, FACE</span>
								</div>
							</div>
						</li>
						<li>
							<p>
								Pursuing junior year In her B Tech in CSE. Is an
								enthusiastic person always open for learning and
								extremely drawn towards UI/UX Design and
								Software dev. Always up for healthy and
								informative discussions over a cup of coffee.
							</p>
							<div class="testimonial-author">
								<img
									src="images/team_1920/madhuri.jpg"
									alt="Ch. Sri Sai Madhuri"
								/>
								<div class="author-info">
									Ch. Sri Sai Madhuri
									<span>Joint Secretary, FACE</span>
								</div>
							</div>
						</li>
						<li>
							<p>
								A 3rd year student highly interested in Data
								Science, Machine Learning and Deep learning.
								Content Writer &amp; Team lead for FACE's medium
								page. Coffee, code and Math are the passwords to
								finding a him in a good mood.
							</p>
							<div class="testimonial-author">
								<img
									src="images/team_1920/ritwik.jpg"
									alt="Ritwik Lal"
								/>
								<div class="author-info">
									Ritwik Lal
									<span>Joint Secretary, FACE</span>
								</div>
							</div>
						</li>
						<li>
							<p>
								A final year pursuing his B.Tech. in Computer
								Science and Engineering, Aravind V. Nair has an
								enormous passion for web development and
								cybersecurity. He also has a great zeal in
								server management, ethical hacking, app
								development and various other fields.
							</p>
							<div class="testimonial-author">
								<img
									src="images/team_1819/aravind.jpg"
									alt="Aravind V. Nair"
								/>
								<div class="author-info">
									Aravind V. Nair
									<span>Google DSC ASEB Lead</span>
								</div>
							</div>
						</li>
						<li>
							<p>
								A Btech student with hands on experience in
								various programming languages, state of art
								techniques and social media marketing skills -
								code with tensors.
							</p>
							<div class="testimonial-author">
								<img
									src="images/team_2021/akkina.jpg"
									alt="Akkina Sairamsrikar"
								/>
								<div class="author-info">
									Akkina Sairamsrikar
									<span
										>Chairperson, CSI Student Chapter
										ASE-B</span
									>
								</div>
							</div>
						</li>
						<li>
							<p>
								Second year student pursuing Bachelors degree in
								Electronics and Computer Engineering with a
								never ending hunger for knowledge. Currently
								messing around with Microprocessor and Micro
								controller architecture and HTML &amp; CSS.
							</p>
							<div class="testimonial-author">
								<img
									src="images/team_2021/tarun.jpg"
									alt="Akkineni Tarun Sai"
								/>
								<div class="author-info">
									Akkineni Tarun Sai
									<span
										>Vice Chairperson, CSI Student Chapter
										ASE-B</span
									>
								</div>
							</div>
						</li>
						<li>
							<p>
								A third year student who is interested in AI,
								Web Development and loves solving problems.
							</p>
							<div class="testimonial-author">
								<img
									src="images/team_2021/thogarucheeti.jpg"
									alt="Thogarucheeti Krishna Saketh"
								/>
								<div class="author-info">
									Thogarucheeti Krishna Saketh
									<span
										>Chairperson, ACM Student Chapter
										ASE-B</span
									>
								</div>
							</div>
						</li>
						<li>
							<p>
								Some domains I'm good at are Python and Data
								Science. Also I'd reached the final stage of
								Smart India Hackathon.
							</p>
							<div class="testimonial-author">
								<img
									src="images/team_2021/aditya.jpg"
									alt="Aditya D"
								/>
								<div class="author-info">
									Aditya D
									<span
										>Vice Chairperson, ACM Student Chapter
										ASE-B</span
									>
								</div>
							</div>
						</li>
						<li>
							<p>
								A second year persuing his B.Tech in CSE. Has a
								great passion for Product Development. A tech
								Enthusiast, who loves to use technology to solve
								problems("Modern problems requires modern
								solutions")
							</p>
							<div class="testimonial-author">
								<img
									src="images/team_2021/hrudeep.jpg"
									alt="Yerradoddi Hrudeep Reddy"
								/>
								<div class="author-info">
									Yerradoddi Hrudeep Reddy
									<span
										>Vice Chairperson, ACM Student Chapter
										ASE-B</span
									>
								</div>
							</div>
						</li>
						<li>
							<p>
								A 3rd year Computer Science Engineering student
								who is interested in Programming, UI/UX
								designing and a certified AWS Cloud
								Practitioner. She likes exploring new things and
								taking up responsibilities. Through the medium
								of her club, she actively encourages young girls
								to take part in STEM related activities.
							</p>
							<div class="testimonial-author">
								<img
									src="images/team_1920/manasa_s.jpg"
									alt="Manasa Sanjeev"
								/>
								<div class="author-info">
									Manasa Sanjeev
									<span
										>Chairperson, ACM-W Student Chapter
										ASE-B</span
									>
								</div>
							</div>
						</li>
						<li>
							<p>
								A sophomore pursuing her B.Tech in CSE-AI.
								Practical, logical, creative and real. A
								strategic-thinker and loves solving real world
								problems with like minded individuals. She is
								passionate about Deep Learning and Computer
								Vision, and her fields of interests include
								Machine Learning, Natural Language Processing,
								and Data Analytics.
							</p>
							<div class="testimonial-author">
								<img
									src="images/team_2021/harshitha.jpg"
									alt="Harshitha Nagarajan"
								/>
								<div class="author-info">
									Harshitha Nagarajan
									<span
										>Vice Chairperson, ACM-W Student Chapter
										ASE-B</span
									>
								</div>
							</div>
						</li>
						<li>
							<p>
								A second year CSE-AI undergraduate whose core
								interest lies around Data Science and Analytics.
								Loves expressing herself through Dance and Drama
							</p>
							<div class="testimonial-author">
								<img
									src="images/team_2021/sneha.jpg"
									alt="Sneha.B"
								/>
								<div class="author-info">
									Sneha.B
									<span
										>Vice Chairperson, ACM-W Student Chapter
										ASE-B</span
									>
								</div>
							</div>
						</li>
						<li>
							<p>
								An Computer Science undergraduate student
								enthusiastic about DeepLearning and Competitive
								Programming.
							</p>
							<div class="testimonial-author">
								<img
									src="images/team_2021/lokesh.jpg"
									alt="Lokesh Anumolu"
								/>
								<div class="author-info">
									Lokesh Anumolu
									<span
										>Secretary, Codechef Student Chapter
										ASE-B</span
									>
								</div>
							</div>
						</li>
						<li>
							<p>
								A second year CSE undergrad student interested
								in minimalistic UI/UX research and information
								architecture, Competitive Programming. Art bug.
							</p>
							<div class="testimonial-author">
								<img
									src="images/team_2021/shirisha.jpg"
									alt="Lavanya Ratna Sirisha Munduri"
								/>
								<div class="author-info">
									Lavanya Ratna Sirisha Munduri
									<span
										>Joint Secretary, Codechef Student
										Chapter ASE-B</span
									>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<%- include('contact') -%> <%- include('footer') -%> <%-
		include('scripts') -%>
	</body>
</html>
