<!DOCTYPE html>
<!--[if IE 8]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
	<!--<![endif]-->

	<head>
		<%- include('meta.ejs') -%>
		<title>Team 2020 - 2021 | FACE Amrita Bangalore</title>
		<meta
			name="description"
			content="Team 2020 - 2021 | Forum for Aspiring Computer Engineers"
		/>
		<meta
			property="og:title"
			content="Team 2020 - 2021 | FACE Amrita Bangalore"
		/>
		<meta property="og:url" content="https://faceaseb.com/Team_2021" />
		<meta
			property="og:description"
			content="Team 2020 - 2021 | Forum for Aspiring Computer Engineers"
		/>
	</head>

	<body>
		<header id="main-header">
			<div class="row">
				<div class="logo">
					<a href="/">FACE</a>
				</div>
				<nav id="nav-wrap">
					<a
						class="mobile-btn"
						href="#nav-wrap"
						title="Show navigation"
					>
						<span class="menu-icon">Menu</span>
					</a>
					<a class="mobile-btn" href="#" title="Hide navigation">
						<span class="menu-icon">Menu</span>
					</a>
					<%- include('nav.ejs') -%>
				</nav>
				<%- include('social.ejs') -%>
			</div>
		</header>
		<section id="hero">
			<div class="row hero-content">
				<div class="twelve columns hero-container">
					<div id="hero-slider" class="flexslider">
						<%- include('slides.ejs') -%>
					</div>
				</div>
			</div>
			<div id="more">
				<a class="smoothscroll" href="#team"
					>Meet Our Team<i class="fa fa-angle-down"></i
				></a>
			</div>
		</section>
		<section id="team">
			<div class="row team section-head">
				<div class="twelve columns">
					<h1>Meet Our Team<span>.</span></h1>
					<hr />
				</div>
			</div>
			<div class="row hero-content">
				<div
					id="team-wrapper"
					class="bgrid-fourth s-bgrid-third tab-bgrid-half mob-bgrid-whole group"
				>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src=""
								alt=""
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3></h3>
							<span>Secretary of FACE</span>
						</div>
						<p>
							A third year pursuing his B-Tech in CSE. Has a great
							passion for Graphic and UI/UX designing. A Web
							Developer and a Tech Enthusiast. Loves to convert
							coffee into code and fiddling around with new tech.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://adityaudapudi.firebaseapp.com/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-user"></i
								></a>
							</li>
							<li>
								<a
									href="https://linkedin.com/in/adityaudapudi/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://instagram.com/aditya.deepak18/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/adityadu-18"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src=""
								alt=""
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3></h3>
							<span>Joint Secretary</span>
						</div>
						<p>
							A third year computer enthusiast who enjoys problem
							solving and likes to try her hand in every new topic
							she comes across.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://facebook.com/rakshana.reddy.12"
									target="_blank"
									rel="noopener"
									><i class="fa fa-facebook"></i
								></a>
							</li>
							<li>
								<a
									href="
									https://instagram.com/rakshanoo/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
							<li>
								<a
									href="https://linkedin.com/in/rakshanajp/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/rakshanaj"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src=""
								alt=""
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3></h3>
							<span>Joint Secretary</span>
						</div>
						<p>
							A third year pursuing his B.Tech. in Computer
							Science and Engineering, he loves to dapple with
							different programming languages and is a keen web
							developer.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://instagram.com/abhishek-kvs/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
							<li>
								<a
									target="_blank"
									rel="noopener"
									href="https://linkedin.com/in/abhishek-kvs"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									target="_blank"
									rel="noopener"
									href="https://github.com/Abhishek-Sai"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src=""
								alt=""
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3></h3>
							<span>Developer Student Club Lead</span>
						</div>
						<p>
							Enthusiastic learner who likes to explore breadth
							and depth of the fields in computer science and
							loves to share knowledge with others.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://linkedin.com/in/saitejamaddula"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/saitejmaddula"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src=""
								alt=""
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3></h3>
							<span>Chairperson, CSI Student Chapter ASE-B</span>
						</div>
						<p>
							A curious student and sophomore who believes that
							anything can be learnt with interest, perseverance
							and discipline.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://github.com/Sahana-Shenoy"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
							<li>
								<a
									href="https://linkedin.com/in/sahana-shenoy-364280187"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src=""
								alt=""
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3></h3>
							<span
								>Vice Chairperson, CSI Student Chapter
								ASE-B</span
							>
						</div>
						<p>
							A sophomore pursuing computer Science Engineering,
							who aspires to dwell into the field of Artificial
							Intelligence.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://instagram.com/ch_manasa"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
							<li>
								<a
									href="https://linkedin.com/in/ch-manasa-7830a1190"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/ch-manasa"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src=""
								alt=""
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3></h3>
							<span>Chairperson, ACM Student Chapter ASE-B</span>
						</div>
						<p>
							A third year student who enjoys coding and problem
							solving. An Artificial Intelligence and Machine
							Learning enthusiast, he is fascinated with Big Data
							Analytics.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://facebook.com/sriharish.ramakrishnan"
									target="_blank"
									rel="noopener"
									><i class="fa fa-facebook"></i
								></a>
							</li>
							<li>
								<a
									href="https://linkedin.com/in/sriharish-r"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/Sriharish0604"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src=""
								alt=""
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3></h3>
							<span
								>Vice Chairperson, ACM Student Chapter
								ASE-B</span
							>
						</div>
						<p>
							A sophomore whose close companions are coffee and
							coding. Loves to meddle with Python and R and
							displays a keen interest in Data Science and Machine
							Learning. Food and Travel have been an integral part
							of his life.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://medium.com/@ritwiklal2000"
									target="_blank"
									rel="noopener"
									><i class="fa fa-globe"></i
								></a>
							</li>
							<li>
								<a
									href="https://linkedin.com/in/ritwik-lal-0ba351166"
									><i
										class="fa fa-linkedin"
										target="_blank"
										rel="noopener"
									></i
								></a>
							</li>
							<li>
								<a href="https://github.com/Lal47"
									><i
										class="fa fa-github"
										target="_blank"
										rel="noopener"
									></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src=""
								alt=""
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3></h3>
							<span
								>Chairperson, ACM-W Student Chapter ASE-B</span
							>
						</div>
						<p>
							A third year pursuing B.Tech. in Computer Science
							and Engineering. She is fascinated about Artificial
							Intelligence and Machine Learning.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://facebook.com/harshitareddy.edugudi"
									target="_blank"
									rel="noopener"
									><i class="fa fa-facebook"></i
								></a>
							</li>
							<li>
								<a
									href="https://instagram.com/harshita._.reddy/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
							<li>
								<a
									href="https://linkedin.com/in/harshita-reddy-41a69a16b"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/harshitaaaaa"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src=""
								alt=""
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3></h3>
							<span
								>Vice Chairperson, ACM-W Student Chapter
								ASE-B</span
							>
						</div>
						<p>
							A sophomore tech enthusiast who is keen on learning
							new things every day. She is interested in
							Artificial Intelligence and Machine Learning.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://instagram.com/mejhanaa/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
							<li>
								<a
									href="https://linkedin.com/in/meghana-rao-a96099190"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/mejhana"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src=""
								alt=""
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3></h3>
							<span
								>Secretary, Codechef Student Chapter ASE-B</span
							>
						</div>
						<p>
							A third year student pursing B-Tech in Computer
							Science and Engineering who enjoys coding.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://linkedin.com/in/venkat-gowtham-3ab1a0179/"
									><i
										class="fa fa-linkedin"
										target="_blank"
										rel="noopener"
									></i
								></a>
							</li>
							<li>
								<a href="https://github.com/venkatgowtham"
									><i
										class="fa fa-github"
										target="_blank"
										rel="noopener"
									></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src=""
								alt=""
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3></h3>
							<span
								>Joint Secretary, Codechef Student Chapter
								ASE-B</span
							>
						</div>
						<p>
							A third year computer enthusiast pursuing her
							B.Tech. in Computer Science and Engineering, who
							enjoys competitive programming and app development.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://linkedin.com/in/neelee-upadhyay-b64160190/"
									><i
										class="fa fa-linkedin"
										target="_blank"
										rel="noopener"
									></i
								></a>
							</li>
							<li>
								<a href="https://github.com/Neelee99"
									><i
										class="fa fa-github"
										target="_blank"
										rel="noopener"
									></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src=""
								alt=""
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3></h3>
							<span
								>Lead Web Developer &amp; ACM Web Development
								SIG Lead</span
							>
						</div>
						<p>
							A third year pursuing his B.Tech. in Computer
							Science and Engineering, Aravind V. Nair has an
							enormous passion for web development and
							cybersecurity. He also has a great zeal in server
							management, ethical hacking, app development and
							various other fields.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://linkedin.com/in/aravindvnair99/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/aravindvnair99/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
							<li>
								<a
									href="https://instagram.com/aravindvnair99/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
							<li>
								<a
									href="https://aravindvnair99.firebaseapp.com"
									target="_blank"
									rel="noopener"
									><i class="fa fa-user"></i
								></a>
							</li>
							<li>
								<a
									href="https://facebook.com/AravindV.Nair1999"
									target="_blank"
									rel="noopener"
									><i class="fa fa-facebook"></i
								></a>
							</li>
							<li>
								<a
									href="https://twitter.com/aravindvnair99/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-twitter"></i
								></a>
							</li>
							<li>
								<a
									href="https://aravindvnair1999.blogspot.com"
									target="_blank"
									rel="noopener"
									><i class="fa fa-globe"></i
								></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<%- include('contact.ejs') -%> <%- include('footer.ejs') -%> <%-
		include('scripts.ejs') -%>
	</body>
</html>
