<!DOCTYPE html>
<!--[if IE 8]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
	<!--<![endif]-->

	<head>
		<%- include('meta.ejs') -%>
		<title>Team 2020 - 2021 | FACE Amrita Bangalore</title>
		<meta
			name="description"
			content="Team 2020 - 2021 | Forum for Aspiring Computer Engineers"
		/>
		<meta
			property="og:title"
			content="Team 2020 - 2021 | FACE Amrita Bangalore"
		/>
		<meta property="og:url" content="https://faceaseb.com/Team_2021" />
		<meta
			property="og:description"
			content="Team 2020 - 2021 | Forum for Aspiring Computer Engineers"
		/>
	</head>

	<body>
		<header id="main-header">
			<div class="row">
				<div class="logo">
					<a href="/">FACE</a>
				</div>
				<nav id="nav-wrap">
					<a
						class="mobile-btn"
						href="#nav-wrap"
						title="Show navigation"
					>
						<span class="menu-icon">Menu</span>
					</a>
					<a class="mobile-btn" href="#" title="Hide navigation">
						<span class="menu-icon">Menu</span>
					</a>
					<%- include('nav.ejs') -%>
				</nav>
				<%- include('social.ejs') -%>
			</div>
		</header>
		<section id="hero">
			<div class="row hero-content">
				<div class="twelve columns hero-container">
					<div id="hero-slider" class="flexslider">
						<%- include('slides.ejs') -%>
					</div>
				</div>
			</div>
			<div id="more">
				<a class="smoothscroll" href="#team"
					>Meet Our Team<i class="fa fa-angle-down"></i
				></a>
			</div>
		</section>
		<section id="team">
			<div class="row team section-head">
				<div class="twelve columns">
					<h1>Meet Our Team<span>.</span></h1>
					<hr />
				</div>
			</div>
			<div class="row hero-content">
				<div
					id="team-wrapper"
					class="bgrid-fourth s-bgrid-third tab-bgrid-half mob-bgrid-whole group"
				>
					<div class="bgrid member">
						<div class="member-pic">
							<img src="images/team_2021/yash.jpeg" alt="Yash Rajesh Umale" />
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Yash Rajesh Umale</h3>
							<span>Secretary of FACE</span>
						</div>
						<p>
							An Electronics and Communications Engineering, junior who is interested in Android App Development, Data Analytics and Machine Learning and loves meddling with Python and Java.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://linkedin.com/in/yash-umale-291097190"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/newb-dev-1008"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img src="images/team_2021/madhuri.jpeg" alt="Ch. Sri Sai Madhuri" />
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Ch. Sri Sai Madhuri</h3>
							<span>Joint Secretary</span>
						</div>
						<p>
							Pursuing junior year In her B Tech in CSE. Is an enthusiastic person always open for learning and extremely drawn towards UI/UX Design and Software dev. Always up for healthy and informative discussions over a cup of coffee.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://facebook.com/madhurirao2021"
									target="_blank"
									rel="noopener"
									><i class="fa fa-facebook"></i
								></a>
							</li>
							<li>
								<a
									href="https://twitter.com/crazie_madzie"
									target="_blank"
									rel="noopener"
									><i class="fa fa-twitter"></i
								></a>
							</li>
							<li>
								<a
									href="https://instagram.com/crazie_madzie"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/madhuri2021"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
							<li>
								<a
									target="_blank"
									rel="noopener"
									href="https://linkedin.com/in/ch-sri-sai-madhuri-a1b0a3190"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img src="images/team_2021/ritwik.jpg" alt="Ritwik Lal" />
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Ritwik Lal</h3>
							<span>Joint Secretary</span>
						</div>
						<p>
							A 3rd year student highly interested in Data Science, Machine Learning and Deep learning. Content Writer & Team lead for FACE's medium page. Coffee, code and Math are the passwords to finding a him in a good mood.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://medium.com/@ritwiklal2000"
									target="_blank"
									rel="noopener"
									><i class="fa fa-globe"></i
								></a>
							</li>
							<li>
								<a
									href="https://linkedin.com/in/ritwik-lal-0ba351166"
									><i
										class="fa fa-linkedin"
										target="_blank"
										rel="noopener"
									></i
								></a>
							</li>
							<li>
								<a href="https://github.com/Lal47"
									><i
										class="fa fa-github"
										target="_blank"
										rel="noopener"
									></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img src="images/team_1819/aravind.jpg" alt="Aravind V. Nair" />
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Aravind V. Nair</h3>
							<span>Developer Student Club Lead &amp; Lead Web Developer &amp; ACM Web Development
								SIG Lead</span>
						</div>
						<p>
							A final year pursuing his B.Tech. in Computer Science and Engineering, Aravind V. Nair has an enormous passion for web development and cybersecurity. He also has a great zeal in server management, ethical hacking, app development and various other fields.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://linkedin.com/in/aravindvnair99/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/aravindvnair99/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
							<li>
								<a
									href="https://instagram.com/aravindvnair99/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
							<li>
								<a
									href="https://aravindvnair99.firebaseapp.com"
									target="_blank"
									rel="noopener"
									><i class="fa fa-user"></i
								></a>
							</li>
							<li>
								<a
									href="https://facebook.com/AravindV.Nair1999"
									target="_blank"
									rel="noopener"
									><i class="fa fa-facebook"></i
								></a>
							</li>
							<li>
								<a
									href="https://twitter.com/aravindvnair99/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-twitter"></i
								></a>
							</li>
							<li>
								<a
									href="https://aravindvnair1999.blogspot.com"
									target="_blank"
									rel="noopener"
									><i class="fa fa-globe"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img src="images/team_2021/akkina.jpg" alt="Akkina Sairamsrikar" />
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Akkina Sairamsrikar</h3>
							<span>Chairperson, CSI Student Chapter ASE-B</span>
						</div>
						<p>
							A Btech student with hands on experience in various programming languages, state of art techniques and social media marketing skills - code with tensors.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://www.linkedin.com/in/srikar-akkina-0639a5196/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/akkinasrikar"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
							<li>
								<a
									href="https://www.instagram.com/ai_basics/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img src="images/team_2021/tarun.jpg" alt="Akkineni Tarun Sai" />
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Akkineni Tarun Sai</h3>
							<span
								>Vice Chairperson, CSI Student Chapter
								ASE-B</span
							>
						</div>
						<p>
							Second year student pursuing Bachelors degree in Electronics and Computer Engineering with a never ending hunger for knowledge. Currently messing around with Microprocessor and Micro controller architecture and HTML& CSS.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="www.linkedin.com/in/tarun-sai-2a6009145"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img src="images/team_2021/thogarucheeti.jpeg" alt="Thogarucheeti Krishna Saketh" />
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Thogarucheeti Krishna Saketh</h3>
							<span>Chairperson, ACM Student Chapter ASE-B</span>
						</div>
						<p>
							A third year student who is interested in AI, Web Development and loves solving problems.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://www.linkedin.com/in/sakeththogarucheeti/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/SakethThoga"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img src="images/team_2021/aditya.jpg" alt="Aditya D" />
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Aditya D</h3>
							<span
								>Vice Chairperson, ACM Student Chapter
								ASE-B</span
							>
						</div>
						<p>
							Some domains I'm good at are Python and Data Science. Also I'd reached the final stage of Smart India Hackathon.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://www.linkedin.com/in/aditya-d-7b79a5190/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/adityad1"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
							<li>
								<a
									href="https://www.instagram.com/aditya_._d/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img src="images/team_2021/hrudeep.jpg" alt="Yerradoddi Hrudeep Reddy" />
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Yerradoddi Hrudeep Reddy</h3>
							<span
								>Vice Chairperson, ACM Student Chapter
								ASE-B</span
							>
						</div>
						<p>
							A second year persuing his B.Tech in CSE. Has a great passion for Product Development. A tech Enthusiast, who loves to use technology to solve problems("Modern problems requires modern solutions")
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://instagram.com/hrudeep?igshid=1pr69p0mbc6si"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img src="images/team_2021/manasa.jpg" alt="Manasa Sanjeev" />
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Manasa Sanjeev</h3>
							<span
								>Chairperson, ACM-W Student Chapter ASE-B</span
							>
						</div>
						<p>
							A 3rd year Computer Science Engineering student who is interested in Programming, UI/UX designing and a certified AWS Cloud Practitioner. She likes exploring new things and taking up responsibilities. Through the medium of her club, she actively encourages young girls to take part in STEM related activities.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://www.linkedin.com/in/manasa-sanjeev-99a193190"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img src="images/team_2021/harshitha.jpg" alt="Harshitha Nagarajan" />
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Harshitha Nagarajan</h3>
							<span
								>Vice Chairperson, ACM-W Student Chapter
								ASE-B</span
							>
						</div>
						<p>
							A sophomore pursuing her B.Tech in CSE-AI. Practical, logical, creative and real. A strategic-thinker and loves solving real world problems with like minded individuals. She is passionate about Deep Learning and Computer Vision, and her fields of interests include Machine Learning, Natural Language Processing, and Data Analytics.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="www.linkedin.com/in/harshitha-nagarajan"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img src="images/team_2021/sneha.png" alt="Sneha.B" />
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Sneha.B</h3>
							<span
								>Vice Chairperson, ACM-W Student Chapter
								ASE-B</span
							>
						</div>
						<p>
							A second year CSE-AI undergraduate whose core interest lies around Data Science and Analytics. Loves expressing herself through Dance and Drama
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://www.linkedin.com/in/sneha-b-074"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/Sneha421"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
							<li>
								<a
									href="https://www.instagram.com/sneha_balaji74/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img src="images/team_2021/lokesh.jpg" alt="Lokesh Anumolu" />
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Lokesh Anumolu</h3>
							<span
								>Secretary, Codechef Student Chapter ASE-B</span
							>
						</div>
						<p>
							An Computer Science undergraduate student enthusiastic about DeepLearning and Competitive Programming.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://www.linkedin.com/in/lakshmanlokesh/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/LakshmanLokesh"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img src="images/team_2021/shirisha.jpg" alt="Lavanya Ratna Sirisha Munduri" />
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Lavanya Ratna Sirisha Munduri</h3>
							<span
								>Joint Secretary, Codechef Student Chapter
								ASE-B</span
							>
						</div>
						<p>
							A second year CSE undergrad student interested in minimalistic UI/UX research and information architecture, Competitive Programming. Art bug.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://www.linkedin.com/in/shirisha-rao-4208a11b2/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/LavanyaSirisha/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
							<li>
								<a
									href="https://www.instagram.com/shirisha__/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<%- include('contact.ejs') -%> <%- include('footer.ejs') -%> <%-
		include('scripts.ejs') -%>
	</body>
</html>
