<!DOCTYPE html>
<!--[if IE 8]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
	<!--<![endif]-->

	<head>
		<%- include('meta.ejs') -%>
		<title>Team 2020 - 2021 | FACE Amrita Bangalore</title>
		<meta
			name="description"
			content="Team 2020 - 2021 | Forum for Aspiring Computer Engineers"
		/>
		<meta
			property="og:title"
			content="Team 2020 - 2021 | FACE Amrita Bangalore"
		/>
		<meta property="og:url" content="https://faceaseb.com/Team_2021" />
		<meta
			property="og:description"
			content="Team 2020 - 2021 | Forum for Aspiring Computer Engineers"
		/>
	</head>

	<body>
		<header id="main-header">
			<div class="row">
				<div class="logo">
					<a href="/">FACE</a>
				</div>
				<nav id="nav-wrap">
					<a
						class="mobile-btn"
						href="#nav-wrap"
						title="Show navigation"
					>
						<span class="menu-icon">Menu</span>
					</a>
					<a class="mobile-btn" href="#" title="Hide navigation">
						<span class="menu-icon">Menu</span>
					</a>
					<%- include('nav.ejs') -%>
				</nav>
				<%- include('social.ejs') -%>
			</div>
		</header>
		<section id="hero">
			<div class="row hero-content">
				<div class="twelve columns hero-container">
					<div id="hero-slider" class="flexslider">
						<%- include('slides.ejs') -%>
					</div>
				</div>
			</div>
			<div id="more">
				<a class="smoothscroll" href="#team"
					>Meet Our Team<i class="fa fa-angle-down"></i
				></a>
			</div>
		</section>
		<section id="team">
			<div class="row team section-head">
				<div class="twelve columns">
					<h1>Meet Our Team<span>.</span></h1>
					<hr />
				</div>
			</div>
			<div class="row hero-content">
				<div
					id="team-wrapper"
					class="bgrid-fourth s-bgrid-third tab-bgrid-half mob-bgrid-whole group"
				>
					<div class="bgrid member">
						<div class="member-pic">
							<img src="" alt="" />
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3></h3>
							<span>Secretary of FACE</span>
						</div>
						<p></p>
						<ul class="member-social">
							<li>
								<a href="" target="_blank" rel="noopener"
									><i class="fa fa-user"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img src="" alt="" />
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3></h3>
							<span>Joint Secretary</span>
						</div>
						<p></p>
						<ul class="member-social">
							<li>
								<a href="" target="_blank" rel="noopener"
									><i class="fa fa-facebook"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img src="" alt="" />
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3></h3>
							<span>Joint Secretary</span>
						</div>
						<p></p>
						<ul class="member-social">
							<li>
								<a href="" target="_blank" rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img src="" alt="" />
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3></h3>
							<span>Developer Student Club Lead</span>
						</div>
						<p></p>
						<ul class="member-social">
							<li>
								<a href="" target="_blank" rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img src="" alt="" />
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3></h3>
							<span>Chairperson, CSI Student Chapter ASE-B</span>
						</div>
						<p></p>
						<ul class="member-social">
							<li>
								<a href="" target="_blank" rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img src="" alt="" />
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3></h3>
							<span
								>Vice Chairperson, CSI Student Chapter
								ASE-B</span
							>
						</div>
						<p></p>
						<ul class="member-social">
							<li>
								<a href="" target="_blank" rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img src="" alt="" />
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3></h3>
							<span>Chairperson, ACM Student Chapter ASE-B</span>
						</div>
						<p></p>
						<ul class="member-social">
							<li>
								<a href="" target="_blank" rel="noopener"
									><i class="fa fa-facebook"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img src="" alt="" />
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3></h3>
							<span
								>Vice Chairperson, ACM Student Chapter
								ASE-B</span
							>
						</div>
						<p></p>
						<ul class="member-social">
							<li>
								<a href="" target="_blank" rel="noopener"
									><i class="fa fa-globe"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img src="" alt="" />
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3></h3>
							<span
								>Chairperson, ACM-W Student Chapter ASE-B</span
							>
						</div>
						<p></p>
						<ul class="member-social">
							<li>
								<a href="" target="_blank" rel="noopener"
									><i class="fa fa-facebook"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img src="" alt="" />
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3></h3>
							<span
								>Vice Chairperson, ACM-W Student Chapter
								ASE-B</span
							>
						</div>
						<p></p>
						<ul class="member-social">
							<li>
								<a href="" target="_blank" rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img src="" alt="" />
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3></h3>
							<span
								>Secretary, Codechef Student Chapter ASE-B</span
							>
						</div>
						<p></p>
						<ul class="member-social">
							<li>
								<a href=""
									><i
										class="fa fa-linkedin"
										target="_blank"
										rel="noopener"
									></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img src="" alt="" />
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3></h3>
							<span
								>Joint Secretary, Codechef Student Chapter
								ASE-B</span
							>
						</div>
						<p></p>
						<ul class="member-social">
							<li>
								<a href=""
									><i
										class="fa fa-linkedin"
										target="_blank"
										rel="noopener"
									></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img src="" alt="" />
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3></h3>
							<span
								>Lead Web Developer &amp; ACM Web Development
								SIG Lead</span
							>
						</div>
						<p></p>
						<ul class="member-social">
							<li>
								<a href="" target="_blank" rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<%- include('contact.ejs') -%> <%- include('footer.ejs') -%> <%-
		include('scripts.ejs') -%>
	</body>
</html>
