<!DOCTYPE html>
<!--[if IE 8]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
	<!--<![endif]-->

	<head>
		<%- include('meta.ejs') -%>
		<title>Team 2020 - 2021 | FACE Amrita Bangalore</title>
		<meta
			name="description"
			content="Team 2020 - 2021 | Forum for Aspiring Computer Engineers"
		/>
		<meta
			property="og:title"
			content="Team 2020 - 2021 | FACE Amrita Bangalore"
		/>
		<meta property="og:url" content="https://faceaseb.com/Team_2021" />
		<meta
			property="og:description"
			content="Team 2020 - 2021 | Forum for Aspiring Computer Engineers"
		/>
	</head>

	<body>
		<header id="main-header">
			<div class="row">
				<div class="logo">
					<a href="/">FACE</a>
				</div>
				<nav id="nav-wrap">
					<a
						class="mobile-btn"
						href="#nav-wrap"
						title="Show navigation"
					>
						<span class="menu-icon">Menu</span>
					</a>
					<a class="mobile-btn" href="#" title="Hide navigation">
						<span class="menu-icon">Menu</span>
					</a>
					<%- include('nav.ejs') -%>
				</nav>
				<%- include('social.ejs') -%>
			</div>
		</header>
		<section id="hero">
			<div class="row hero-content">
				<div class="twelve columns hero-container">
					<div id="hero-slider" class="flexslider">
						<%- include('slides.ejs') -%>
					</div>
				</div>
			</div>
			<div id="more">
				<a class="smoothscroll" href="#team"
					>Meet Our Team<i class="fa fa-angle-down"></i
				></a>
			</div>
		</section>
		<section id="mentor">
			<div class="row mentor section-head">
				<div class="twelve columns">
					<h1>Meet Our Mentors<span>.</span></h1>
					<hr />
				</div>
			</div>
			<div class="row hero-content">
				<div
					id="mentor-wrapper"
					class="bgrid-fourth s-bgrid-third tab-bgrid-half mob-bgrid-whole group"
				>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_2021/rajakumar.jpg"
								alt="Rajakumar Arul"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Rajakumar Arul</h3>
							<span>Mentor, FACE</span>
						</div>
						<p>
							Dr. Rajakumar Arul currently serves as an Assistant
							Professor at the Department of Computer Science,
							Amrita School of Engineering, Bengaluru. His areas
							of research include Cryptography, Network Security
							and Blockchain.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://in.linkedin.com/in/rajakumararul"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_2021/saravanan.jpg"
								alt="S. Saravanan"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>S. Saravanan</h3>
							<span>Mentor, CSI</span>
						</div>
						<p>
							Mr. S. Saravanan is working as an Assistant
							Professor in the Department of Computer Science and
							Engineering. He is a life time member of ISTE and
							with 15 years of teaching experience, he's currently
							pursuing his Ph.D. in Amrita Vishwa Vidyapeetham,
							Bengaluru campus. His areas of research include
							Cybersecurity and Big Data Analytics.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://in.linkedin.com/in/saravanan-selvam-69830461"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1819/supriya.jpg"
								alt="Supriya M."
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Supriya M.</h3>
							<span>Mentor, ACM &amp; ACM-W</span>
						</div>
						<p>
							Dr. Supriya M. currently serves as Assistant
							Professor at the Department of Computer Science
							&amp; Engineering, Amrita School of Engineering,
							Bengaluru. She has 20 years of teaching experience
							and her research interests include High performance
							computing, Cloud and Fog computing, Internet of
							Things, Machine Learning and Parallel algorithms.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://in.linkedin.com/in/supriya-m-a000252b"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1819/uma.jpg"
								alt="B. Uma Maheswari"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>B. Uma Maheswari</h3>
							<span>Mentor, CodeChef</span>
						</div>
						<p>
							Dr. B. Uma Maheswari currently serves as Assistant
							Professor, (Selection Grade), IEEE Senior Member,
							Department of Computer Science and Engineering.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://in.linkedin.com/in/dr-uma-maheswari-98bb3b4b"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1819/jyotsna.jpg"
								alt="Jyotsna C"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Jyotsna C</h3>
							<span>Mentor, FORGE</span>
						</div>
						<p>
							Ms. Jyotsna C, working as Assistant Professor
							(Sr.Gr.) in the Department of CSE, Amrita School of
							Engineering, Bengaluru. Area of Research: Eye
							Tracking Technology and it's data analysis, Computer
							Vision, Machine Learning and Deep Learning.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://in.linkedin.com/in/jyotsna-c-769110172"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section id="team">
			<div class="row team section-head">
				<div class="twelve columns">
					<h1>Meet Our Team<span>.</span></h1>
					<hr />
				</div>
			</div>
			<div class="row hero-content">
				<div
					id="team-wrapper"
					class="bgrid-fourth s-bgrid-third tab-bgrid-half mob-bgrid-whole group"
				>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1920/yash.jpg"
								alt="Yash Rajesh Umale"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Yash Rajesh Umale</h3>
							<span>Secretary of FACE</span>
						</div>
						<p>
							An Electronics and Communications Engineering
							undergrad who is interested in Android App
							Development, Data Analytics and Machine Learning and
							loves meddling with Python and Java.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://linkedin.com/in/yash-umale-291097190"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/newb-dev-1008"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1920/madhuri.jpg"
								alt="Ch. Sri Sai Madhuri"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Ch. Sri Sai Madhuri</h3>
							<span>Joint Secretary of FACE</span>
						</div>
						<p>
							Pursuing her B Tech in CSE. Is an enthusiastic
							person always open for learning and extremely drawn
							towards UI/UX Design and Software dev. Always up for
							healthy and informative discussions over a cup of
							coffee.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://facebook.com/madhurirao2021"
									target="_blank"
									rel="noopener"
									><i class="fa fa-facebook"></i
								></a>
							</li>
							<li>
								<a
									href="https://twitter.com/crazie_madzie"
									target="_blank"
									rel="noopener"
									><i class="fa fa-twitter"></i
								></a>
							</li>
							<li>
								<a
									href="https://instagram.com/crazie_madzie"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/madhuri2021"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
							<li>
								<a
									target="_blank"
									rel="noopener"
									href="https://linkedin.com/in/ch-sri-sai-madhuri-a1b0a3190"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1920/ritwik.jpg"
								alt="Ritwik Lal"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Ritwik Lal</h3>
							<span>Joint Secretary of FACE</span>
						</div>
						<p>
							A 3rd year student highly interested in Data
							Science, Machine Learning and Deep learning. Content
							Writer &amp; Team lead for FACE's medium page.
							Coffee, code and Math are the passwords to finding a
							him in a good mood.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://medium.com/@ritwiklal2000"
									target="_blank"
									rel="noopener"
									><i class="fa fa-globe"></i
								></a>
							</li>
							<li>
								<a
									href="https://linkedin.com/in/ritwik-lal-0ba351166"
									><i
										class="fa fa-linkedin"
										target="_blank"
										rel="noopener"
									></i
								></a>
							</li>
							<li>
								<a href="https://github.com/Lal47"
									><i
										class="fa fa-github"
										target="_blank"
										rel="noopener"
									></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1819/aravind.jpg"
								alt="Aravind V. Nair"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Aravind V. Nair</h3>
							<span
								>Google DSC ASEB Lead, Lead Web Developer of
								FACE &amp; Web Development SIG Lead of ACM &amp;
								ACM-W</span
							>
						</div>
						<p>
							A final year pursuing his B.Tech. in Computer
							Science and Engineering, Aravind V. Nair has an
							enormous passion for web development and
							cybersecurity. He also has a great zeal in server
							management, ethical hacking, app development and
							various other fields.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://linkedin.com/in/aravindvnair99/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/aravindvnair99/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
							<li>
								<a
									href="https://instagram.com/aravindvnair99/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
							<li>
								<a
									href="https://aravindvnair99.firebaseapp.com"
									target="_blank"
									rel="noopener"
									><i class="fa fa-user"></i
								></a>
							</li>
							<li>
								<a
									href="https://facebook.com/AravindV.Nair1999"
									target="_blank"
									rel="noopener"
									><i class="fa fa-facebook"></i
								></a>
							</li>
							<li>
								<a
									href="https://twitter.com/aravindvnair99/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-twitter"></i
								></a>
							</li>
							<li>
								<a
									href="https://aravindvnair1999.blogspot.com"
									target="_blank"
									rel="noopener"
									><i class="fa fa-globe"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_2021/akkina.jpg"
								alt="Akkina Sairamsrikar"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Akkina Sairamsrikar</h3>
							<span>Chairperson, CSI Student Chapter ASE-B</span>
						</div>
						<p>
							A Btech student with hands on experience in various
							programming languages, state of art techniques and
							social media marketing skills - code with tensors.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://www.linkedin.com/in/srikar-akkina-0639a5196/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/akkinasrikar"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
							<li>
								<a
									href="https://www.instagram.com/ai_basics/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_2021/tarun.jpg"
								alt="Akkineni Tarun Sai"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Akkineni Tarun Sai</h3>
							<span
								>Vice Chairperson, CSI Student Chapter
								ASE-B</span
							>
						</div>
						<p>
							Second year student pursuing Bachelors degree in
							Electronics and Computer Engineering with a never
							ending hunger for knowledge. Currently messing
							around with Microprocessor and Micro controller
							architecture and HTML& CSS.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="www.linkedin.com/in/tarun-sai-2a6009145"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_2021/thogarucheeti.jpg"
								alt="Thogarucheeti Krishna Saketh"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Thogarucheeti Krishna Saketh</h3>
							<span>Chairperson, ACM Student Chapter ASE-B</span>
						</div>
						<p>
							A third year student who is interested in AI, Web
							Development and loves solving problems.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://www.linkedin.com/in/sakeththogarucheeti/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/SakethThoga"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_2021/aditya.jpg"
								alt="Aditya D"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Aditya D</h3>
							<span
								>Vice Chairperson, ACM Student Chapter
								ASE-B</span
							>
						</div>
						<p>
							Some domains I'm good at are Python and Data
							Science. Also I'd reached the final stage of Smart
							India Hackathon.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://www.linkedin.com/in/aditya-d-7b79a5190/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/adityad1"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
							<li>
								<a
									href="https://www.instagram.com/aditya_._d/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_2021/hrudeep.jpg"
								alt="Yerradoddi Hrudeep Reddy"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Yerradoddi Hrudeep Reddy</h3>
							<span
								>Vice Chairperson, ACM Student Chapter
								ASE-B</span
							>
						</div>
						<p>
							A second year persuing his B.Tech in CSE. Has a
							great passion for Product Development. A tech
							Enthusiast, who loves to use technology to solve
							problems("Modern problems requires modern
							solutions")
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://instagram.com/hrudeep?igshid=1pr69p0mbc6si"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1920/manasa_s.jpg"
								alt="Manasa Sanjeev"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Manasa Sanjeev</h3>
							<span
								>Chairperson, ACM-W Student Chapter ASE-B</span
							>
						</div>
						<p>
							A 3rd year Computer Science Engineering student who
							is interested in Programming, UI/UX designing and a
							certified AWS Cloud Practitioner. She likes
							exploring new things and taking up responsibilities.
							Through the medium of her club, she actively
							encourages young girls to take part in STEM related
							activities.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://www.linkedin.com/in/manasa-sanjeev-99a193190"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_2021/harshitha.jpg"
								alt="Harshitha Nagarajan"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Harshitha Nagarajan</h3>
							<span
								>Vice Chairperson, ACM-W Student Chapter
								ASE-B</span
							>
						</div>
						<p>
							A sophomore pursuing her B.Tech in CSE-AI.
							Practical, logical, creative and real. A
							strategic-thinker and loves solving real world
							problems with like minded individuals. She is
							passionate about Deep Learning and Computer Vision,
							and her fields of interests include Machine
							Learning, Natural Language Processing, and Data
							Analytics.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="www.linkedin.com/in/harshitha-nagarajan"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_2021/sneha.jpg"
								alt="Sneha.B"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Sneha.B</h3>
							<span
								>Vice Chairperson, ACM-W Student Chapter
								ASE-B</span
							>
						</div>
						<p>
							A second year CSE-AI undergraduate whose core
							interest lies around Data Science and Analytics.
							Loves expressing herself through Dance and Drama
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://www.linkedin.com/in/sneha-b-074"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/Sneha421"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
							<li>
								<a
									href="https://www.instagram.com/sneha_balaji74/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_2021/lokesh.jpg"
								alt="Lokesh Anumolu"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Lokesh Anumolu</h3>
							<span
								>Secretary, Codechef Student Chapter ASE-B</span
							>
						</div>
						<p>
							An Computer Science undergraduate student
							enthusiastic about DeepLearning and Competitive
							Programming.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://www.linkedin.com/in/lakshmanlokesh/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/LakshmanLokesh"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_2021/shirisha.jpg"
								alt="Lavanya Ratna Sirisha Munduri"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Lavanya Ratna Sirisha Munduri</h3>
							<span
								>Joint Secretary, Codechef Student Chapter
								ASE-B</span
							>
						</div>
						<p>
							A second year CSE undergrad student interested in
							minimalistic UI/UX research and information
							architecture, Competitive Programming. Art bug.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://www.linkedin.com/in/shirisha-rao-4208a11b2/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/LavanyaSirisha/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
							<li>
								<a
									href="https://www.instagram.com/shirisha__/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_2021/praanesh.jpg"
								alt="Kanala Srinivas Praanesh"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Kanala Srinivas Praanesh</h3>
							<span>Forge Secretary</span>
						</div>
						<p>Efficient</p>
						<ul class="member-social">
							<li>
								<a
									href="https://www.linkedin.com/feed/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
								<a
									href="https://github.com/Praanesh1"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
								<a
									href="https://www.instagram.com/praaan_/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_2021/madhav.jpg"
								alt="N Madhav Sai"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>N Madhav Sai</h3>
							<span>Forge Co-Secretary</span>
						</div>
						<p>
							A second year pursuing his B TECH in EEE. Passionate
							about levelling , 3D modelling and game development.
							A gamer who enjoys challenges and is fascinated on
							building games . An enthusiast while acquiring
							skills on game development softwares.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://github.com/Madhav-nms"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
								<a
									href="https://www.instagram.com/n_.madhav/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
								<a
									href="https://www.facebook.com/profile.php?id=100008588146507"
									target="_blank"
									rel="noopener"
									><i class="fa fa-facebook"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_2021/rohit.jpg"
								alt="Rohit R"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Rohit R</h3>
							<span>Executive Member</span>
						</div>
						<p>
							A second year pursuing B.Tech in CSE. He loves
							experimenting different areas in his field. He is A
							data science enthusiast. He works to grow beyond
							expectations.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="www.linkedin.com/in/rohit-r-0a61a5201"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
								<a
									href="https://github.com/rohitraju1966"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
								<a
									href="https://www.instagram.com/thefrostube/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
								<a
									href="https://www.youtube.com/channel/UC5gn2_dLtT0efksxz5SKnKA"
									target="_blank"
									rel="noopener"
									><i class="fa fa-youtube-play"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_2021/gandheesh.jpg"
								alt="S.A. Gandheesh"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>S.A. Gandheesh</h3>
							<span>Executive Member</span>
						</div>
						<p>
							A sophomore computer science student and funny(not
							really) guy who is a real gamer and interested in
							web development and app development.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="linkedin.com/in/s-a-gandheesh-93b58a197"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
								<a
									href="https://github.com/Gandheesh-SA"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_2021/jaisurya.jpg"
								alt="Kode Jai Surya"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Kode Jai Surya</h3>
							<span>Executive Member</span>
						</div>
						<p>
							A second year CSE-AI student, aspiring to be a Data
							Scientist. I want to explore as many things as
							possible in the fields of AI, ML, Robotics and
							Psychology.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://www.linkedin.com/in/jai-surya-006907192/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
								<a
									href="https://github.com/KodeJaiSurya/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_2021/kishan.jpg"
								alt="Kishan Maniyar"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Kishan Maniyar</h3>
							<span>Executive Member</span>
						</div>
						<p>
							A second year pursuing his B.Tech in CSE. Has a
							passion for Data Science and competitive
							programming. An enthusiastic coder, he loves
							analysing any data of any type from any source
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://www.linkedin.com/in/kishan-maniyar-3032031b8"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
								<a
									href="https://www.instagram.com/._kishan_042/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_2021/sesha.jpg"
								alt="Seshaayini.K"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Seshaayini.K</h3>
							<span>Executive Member</span>
						</div>
						<p>
							A sophomore who is open to the ocean of boundless
							knowledge. She is inclined towards problem solving,
							coding and enjoys app development.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://www.linkedin.com/in/seshaayini-k-44548a208/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1920/manasa_ch.jpg"
								alt="Ch Manasa"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Ch Manasa</h3>
							<span>Executive Member</span>
						</div>
						<p>
							A data science enthusiast currently in her junior
							year. Loves anything that has got to do with numbers
							!
						</p>
						<ul class="member-social">
							<li>
								<a
									href="www.linkedin.com/in/ch-manasa"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_2021/chathurya.jpg"
								alt="K V S Chathurya"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>K V S Chathurya</h3>
							<span>Executive Member</span>
						</div>
						<p>
							A young computer science Undergraduate with
							technical areas and expertise in Deep Learning,
							cloud , Data structures and algorithms
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://www.linkedin.com/in/k-v-s-chathurya-8906261a3/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_2021/dipshikha.jpg"
								alt="Dipshikha Biswas"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Dipshikha Biswas</h3>
							<span>Executive Member</span>
						</div>
						<p>
							Thinks in Data Science, reads in novels, feels in
							music and expresses in dance.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="www.linkedin.com/in/dipshikha-biswas"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
								<a
									href="https://github.com/dipshikha461"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
								<a
									href="https://www.instagram.com/is_it_dip/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_2021/sukha.jpg"
								alt="K Sukha"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>K Sukha</h3>
							<span>Executive Member</span>
						</div>
						<p>
							A sophomore computer science student and a tech
							enthusiast, who is interested in Machine learning
							and the Math behind it. Loves to discover and learn
							new things and has a passion for problem-solving and
							logical reasoning.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="www.linkedin.com/in/sukha-k-6561141b6"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
								<a
									href="https://github.com/crushnebula7"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_2021/vivek.jpg"
								alt="Vivek Radhakrishnan"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Vivek Radhakrishnan</h3>
							<span>Executive Member</span>
						</div>
						<p>
							Introverted, Geeky, likes memes, not really social
							but not afraid/anxious to socialize. I do music and
							I draw stuff. No more comments.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="linkedin.com/in/vivek-radhakrishnan-9a1a18207"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
								<a
									href="github.com/SassyQuatch47"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_2021/pranav.jpg"
								alt="Putsa Rama Krishna Pranav"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Putsa Rama Krishna Pranav</h3>
							<span>Executive Member</span>
						</div>
						<p>
							A third year student pursuing B.Tech in Computer
							Science and Engineering, enthusiastic coder,
							passionate about Artificial Intelligence and loves
							to travel.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://www.linkedin.com/in/rama-krishna-pranav-putsa-823335197/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
								<a
									href="https://github.com/PranavPutsa1006"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_2021/harsha.jpg"
								alt="Sri Harsha Varanasi"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Sri Harsha Varanasi</h3>
							<span>Executive Member</span>
						</div>
						<p>
							A foodie who loves to be pleasant by being in the
							present.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://www.linkedin.com/in/varanasi-harsha-5555191b9/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
								<a
									href="https://www.instagram.com/vara_harsha1/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_2021/jeet.jpg"
								alt="Jeet Santosh Nimbhorkar"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Jeet Santosh Nimbhorkar</h3>
							<span>Executive Member</span>
						</div>
						<p>
							He is an energetic computer science undergraduate
							with technical areas of interest in data science,
							machine learning and python scripting.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="http://www.linkedin.com/in/jeet-nimbhorkar-6863821b5"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
								<a
									href="https://github.com/JeetNimbhorkar"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
								<a
									href="https://www.instagram.com/jeet_nimbhorkar/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_2021/aravind_k.jpg"
								alt="Kurapati Sreenivas Aravind"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Kurapati Sreenivas Aravind</h3>
							<span>Executive Member</span>
						</div>
						<p>
							A third year Computer Science student who displays a
							keen interest in exploring the fields of data
							science and machine learning.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://www.linkedin.com/in/aravind-kurapati-1b0a841aa/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_2021/sathian.jpg"
								alt="Sathian M"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Sathian M</h3>
							<span>Executive Member</span>
						</div>
						<p>
							A sophomore who is pursuing undergraduate in
							computer science who is interest in cybersecurity
							and currently exploring different fields.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://www.linkedin.com/in/sathian-m-b5113018b/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
								<a
									href="https://github.com/sathian-icd"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
								<a
									href="https://www.instagram.com/sathian_the_solution_/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_2021/suriya.jpg"
								alt="Suriya KS"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Suriya KS</h3>
							<span>Executive Member</span>
						</div>
						<p>
							A sophomore pursuing computer Science Engineering,
							who aspires to dwell into the field of Web
							Development, App Development, Data Science and
							Machine Learning
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://www.linkedin.com/in/suriya-2002/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
								<a
									href="https://github.com/Suriya-2002"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<%- include('contact.ejs') -%> <%- include('footer.ejs') -%> <%-
		include('scripts.ejs') -%>
	</body>
</html>
